.exams-dashboard {
  .title {
    font-size: 50px;
    color: $main-blue;
    font-weight: bold;
    padding: 15px 0;
    margin-bottom: 25px;
    text-align: center;
    // box-shadow: ;
  }
  .exams-table {
    @extend .students-table;
  }
}